<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Collatz problem</title>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG"></script>
</head>
<body>
    <h2>Problem statement</h2>
    <div>Consider the function f as follows:</div>
    <math> 
        <mi> f </mi> 
        <mrow> <mo> ( </mo> <mi> n </mi> <mo> ) </mo> </mrow> 
        <mo> = </mo> 
        <mrow> <mo> { </mo> 
            <mtable columnalign='left'> <mtr> <mtd> <mfrac> <mrow> <mi> n </mi> </mrow> <mrow> <mn> 2 </mn> </mrow> </mfrac> </mtd><mtd> <mo>if</mo> <mi> n </mi> <mo> &#x2261; <!-- identical to --> </mo> <mn> 0 </mn> <mrow> <mo> ( </mo> <mo>mod</mo> <mn> 2 </mn> <mo> ) </mo> </mrow> </mtd> </mtr> 
                <mtr> <mtd> <mn> 3 </mn> <mi> n </mi> <mo> + </mo> <mn> 1 </mn> </mtd><mtd> <mo>if</mo> <mi> n </mi> <mo> &#x2261; <!-- identical to --> </mo> <mn> 1 </mn> <mrow> <mo> ( </mo> <mo>mod</mo> <mn> 2 </mn> <mo> ) </mo> </mtd> </mtr> 
            </mtable> 
        </mrow> 
    </math>
    <div>Beginning with any positive integer and taking the result at each step as the input at the next</div>
    <math> 
        <msub>
            <mi> a </mi>
            <mi> i </mi>  
        </msub>
        <mo> = </mo> 
        <mrow> <mo> { </mo> 
            <mtable columnalign='left'> <mtr> <mtd> <mi>n</mi></mtd><mtd> <mo>for</mo> <mi> i </mi> <mo> = </mo> <mn> 0 </mn>  </mtd> </mtr> 
                <mtr> <mtd>         <mi> f </mi> <mrow> <mo> ( </mo>         <msub><mi> a </mi><mi> i-1 </mi>  </msub> <mo> ) </mo> </mrow>  </mtd><mtd> <mo>for</mo> <mi> i </mi> <mo> &gt; </mo> <mn> 0 </mn>  </mtd> </mtr> 
            </mtable> 
        </mrow> 
    </math>
    <div>The Collatz conjecture is: This process will eventually reach the number 1, regardless of which positive integer is chosen initially.</div>
    <h3>Playground</h3>
    <form method="POST" action="./calc_collatz">
        <input name="initial-value" type="number" value=1>
        <button type="submit">Get Collatz sequence</button>
    </form>
</body>
</html>